@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 210 40% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 40% 95%;
    --muted-foreground: 215 28% 45%;
    --accent: 120 25% 65%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 85%;
    --input: 210 40% 90%;
    --ring: 210 40% 60%;
    --chart-1: 210 40% 60%;
    --chart-2: 120 25% 65%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 210 40% 10%;
    --secondary: 210 40% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 40% 25%;
    --muted-foreground: 210 40% 60%;
    --accent: 120 25% 80%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 25%;
    --input: 210 40% 25%;
    --ring: 210 40% 98%;
    --chart-1: 210 40% 60%;
    --chart-2: 120 25% 65%;
    --chart-3: 197 37% 54%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
